!
! ~/.Xresources
!
! Authors:
!   Iyyel <github.com/iyyel>
!

! Set dpi
Xft.dpi:                                109

! Set font
URxvt.depth:                            32
URxvt*font:                             xft:tamzen:pixelsize=14:antialias=true:hinting=false
URxvt*boldFont:                         xft:tamzen:pixelsize=14:antialias=true:hinting=false

! Increase line spacing
 URxvt*lineSpace:                       1

! Terminal window size
URxvt*geometry:                         65x17

! Disable scrollbar
URxvt.scrollBar:                        false

! Set urxvt as login shell
URxvt*loginShell:                       true

! Set terminal padding
URxvt.internalBorder:                   15

! Enables copy/paste with Ctrl-Shift-C/V.
! urxvt-perls from AUR required.
URxvt.iso14755:                         false
URxvt.iso14755_52:                      false
URxvt.perl-ext-common:                  default,clipboard
URxvt.keysym.Shift-Control-C:           perl:clipboard:copy
URxvt.keysym.Shift-Control-V:           perl:clipboard:paste
URxvt.clipboard.autocopy:               true

! TERMINAL COLOURS
URxvt*foreground:                       #FFFFFF
URxvt*background:                       [85]#111111

! black
URxvt*color0:                           #202020
URxvt*color8:                           #202020

! red
URxvt*color1:                           #F8F8F8
URxvt*color9:                           #F8F8F8

! green
URxvt*color2:                           #51C4D4
URxvt*color10:                          #51C4D4

! yellow
URxvt*color3:                           #F7F7F7
URxvt*color11:                          #F7F7F7

! blue
URxvt*color4:                           #606060
URxvt*color12:                          #606060

! magenta
URxvt*color5:                           #44C1D4
URxvt*color13:                          #44C1D4

! cyan
URxvt*color6:                           #E2E2E2
URxvt*color14:                          #E2E2E2

! white
URxvt*color7:                           #FFFFFF
URxvt*color15:                          #FFFFFF
