#
# ~/dotfiles/.gitignore
#
# Authors:
#  Iyyel <github.com/iyyel>
#
# .gitignore for dotfiles.
#

ncmpcpp/.config/ncmpcpp/lyrics
ncmpcpp/.config/ncmpcpp/error.log
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/pluginz
mpd/.config/mpd/log
weechat/.config/weechat/logs
weechat/.config/weechat/weechat.log
