#
# ~/dotfiles/.gitignore
#
# Authors:
#  Iyyel <github.com/iyyel>
#
# .gitignore for dotfiles.
#

.config/ncmpcpp/lyrics
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/mpd/log
.weechat/logs
.weechat/weechat.log
