#
# ~/dotfiles/.gitignore
#
# Authors:
#  InAbsentia <github.com/inabsencia>
#

.config/ncmpcpp/lyrics
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/mpd/log
.weechat/logs
.weechat/weechat.log
