#include </home/iyyel/.termcolors/synthwave>

Xft.dpi:                        109
Xft.antialias:                  1
Xft.autohint:                   0
Xft.hinting:                    1
Xft.hintstyle:                  hintfull
Xft.lcdfilter:                  lcddefault
Xft.rgba:                       rgb

URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Envy Code R for Powerline:pixelsize=13
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              0
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           35
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true

! Colors
*background:    bg
*foreground:    fg
*cursorColor:   cyn

*color0:        blk
*color8:        bblk
*color1:        red
*color9:        red
*color2:        grn
*color10:       grn
*color3:        ylw
*color11:       ylw
*color4:        blu
*color12:       blu
*color5:        mag
*color13:       mag
*color6:        cyn
*color14:       cyn
*color7:        wht
*color15:       wht
