/*
 * ~/.config/wofi/style.css
 *                                        
 * Authors:
 *  Iyyel <github.com/iyyel>
 *
 * wofi stylesheet file
 *
 */

window {
  margin: 5px;
  background: #2E3440;
  color: #5E81AC;
  font-family: 'Fira Code';
  font-size: 15px;
  border: 3px solid #4C566A;
  border-radius: 0px;
  outline: 0;
}

#input {
  color: #5E81AC;
  background: #2E3440;
  border: 3px solid #4C566A;
}

#text {
  padding: 2px;
}
