!!
!! ~/.Xresources
!!
!! Authors:
!!  Iyyel <github.com/iyyel>
!!
!! Terminal color scheme, urxvt and related settings.
!!

!! Color scheme (Nord)
#define bg     #2E3440
#define fg     #D8DEE9
#define nord0  #2E3440
#define nord1  #3B4252
#define nord2  #434C5E
#define nord3  #4C566A
#define nord4  #D8DEE9
#define nord5  #E5E9F0
#define nord6  #ECEFF4
#define nord7  #8FBCBB
#define nord8  #88C0D0
#define nord9  #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*color0 : nord1
*color1 : nord11
*color2 : nord14
*color3 : nord13
*color4 : nord9
*color5 : nord15
*color6 : nord8
*color7 : nord5
*color8 : nord3
*color9 : nord11
*color10: nord14
*color11: nord13
*color12: nord9
*color13: nord15
*color14: nord7
*color15: nord6

!! Terminal colors
*foreground  : fg
*background  : bg
*cursorColor : fg
*fading      : 0

!! Xft settings
Xft.dpi       : 96
Xft.antialias : true
Xft.rgba      : rgb
Xft.hinting   : true
Xft.hintstyle : hintfull
Xft.autohint  : false
Xft.lcdfilter : lcddefault

!! Urxvt settings
URxvt*font:xft:Fira Mono For Powerline:style=bold:pixelsize=14
URxvt*boldFont:xft:Fira Mono For Powerline:style=bold:pixelsize=14
URxvt*depth               : 32
URxvt.lineSpace           : 2
URxvt.scrollBar           : false
URxvt.internalBorder      : 20
URxvt.cursorUnderline     : false
URxvt.geometry            : 60x16
URxvt.thickness           : 5
URxvt.titleBar            : false
URxvt.intensityStyles     : false
URxvt.cursorBlink         : 1

URxvt*visualBell          : false
URxvt*audioBell           : false

!! Perl extensions
URxvt.perl-ext            : default,clipboard,url-select
URxvt.keysym.M-u          : perl:url-select:select_next
URxvt.url-select.launcher : /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-select.autocopy : true
URxvt.url-select.button   : 2

!! Keyboard-select
URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search

!! CopyPaste Keys
URxvt.keysym.Shift-Control-V : perl:clipboard:paste
URxvt.keysym.Shift-Control-C : perl:clipboard:copy
URxvt.clipboard.autocopy     : true

!! Disable the ctrl+shift 'feature'
URxvt.iso14755               : false
URxvt.iso14755_52            : false

!! Rofi colors
!!                  bg  fg  bgalt  hlbg  hlfg
rofi.color-window:  bg, bg, bg
rofi.color-normal:  bg, fg, bg,    bg,   fg
